{% extends '/base.html.twig' %}

{% block title %}Les types de déchets{% endblock %}

{% block body %}
<div class="row">
	<div class="col-sm">

		<h3 class="text-center"> Liste des types de déchets</h3>

		<a href="{{ path('ajouterTypeDechet') }}"><button class="btn btn-primary">Ajouter</button></a>
		
		<table class="table">
			<tr>
				<th>Type de dechet</th>
				<th>Tarif</th>
				<th>Dernière modification</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
			
			{% for typeDechet in listeTypeDechet %}
			<tr>
			{% if typeDechet.archiver == 0 %}
				<td> {% if typeDechet.libelle is defined %} {{typeDechet.libelle}}  {% endif %} </td>			
				<td>{% if typeDechet.TarifActuel is not null%} {{ typeDechet.TarifActuel.tarif }}€{%endif%}</td>
				<td>{% if typeDechet.TarifActuel is not null%}{{ typeDechet.TarifActuel.date|date("Y/m/d H:i:s")}}{%endif%}</td>
				<td><a href="{{ path('modifierTypeDechet',{'id':typeDechet.id}) }}" >Modifier</a></td>
				<td><a href="{{ path('archiverTypeDechet',{'id':typeDechet.id}) }}" >Supprimer</a></td>
			{% endif %}
			</tr>


			{% endfor %}
		</table>

	</div>
</div>
{% endblock %}

