{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center">{{reclamation.objet}} </h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">{{ reclamation.usager.prenom ~" "~ reclamation.usager.nom }} </div>
                <div class="col-sm-4">{{reclamation.dateOuv | date("Y/m/d h:i:s")}}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <p> {{reclamation.description}}</p>
                </div>
            </div>
            {% for reponse in reclamation.reponses %}

                <hr size="1px"/>

                <div class="row">
                    <div class="col-sm-8">{{ reponse.utilisateur.prenom ~" "~ reponse.utilisateur.nom }} </div>
                    <div class="col-sm-4">{{ reponse.date | date("Y/m/d h:i:s")}}</div>
                </div>
                <br/>
                <div class="row">
                    <div class="col">
                        <p> {{reponse.message}}</p>
                    </div>
                </div>
            {% endfor %}
			<br/>
			{%if app.session.get("user") is instanceof("App\\Entity\\Responsable") or app.session.get("user") is instanceof("App\\Entity\\Usager") and reclamation.etat.libelle =="En Attente"%}
				{% include '/reponse/formReponse.html.twig' %}
			{%endif%}
			
		</div>
        <div class="col-sm-4" >
			{% if app.session.get("user") is instanceof("App\\Entity\\Responsable")%} 
				{% include '/reclamation/formModifierEtatReclamation.html.twig' %}
			{%else%}
				Etat : {{reclamation.etat.libelle}}
			{%endif%}
        </div>
		
    </div>

			
{% endblock %}
