{% extends 'base.html.twig' %}


{% block body %}
		
		<h3>Le conteneur</h3>

	<p>
	Usager associé : {{container.habitation.usager.nom}} {{container.habitation.usager.prenom}}
	<br>
	Habitation : {{container.habitation.adresse}} {{container.habitation.copos}} {{container.habitation.ville}}
	</p>
	
	<p>
	Type de déchet : {{container.typeDechet.libelle}}
	</p>
	
	<p>
	Volume : {{container.volume}}
	<br>
	Poids brut : {{container.poidsBrut}}
	<br>
	Charge utile : {{container.chargeUtile}}
	</p>
	{#Levées :<a href="{{ path('listerContainerLevees', { 'id': container.id }) }}">Consulter les levées</a>#}
	
	<p>
		<a href="{{ path('modifierContainer', { 'id': container.id }) }}">Modifier</a>
	</p>
	
	<p>
		<a href="{{ path('consulterHabitation',{'id':container.habitation.id}) }}" >Retour à l'habitation {{container.habitation.adresse}} {{container.habitation.copos}} {{container.habitation.ville}}</a>
	</p>
	
	<p>
		<a href="{{ path('listerContainer') }}">Retour à la liste des conteneurs</a>
	</p>
	
{% endblock %}