{% extends '/base.html.twig' %}

{% block title %}un Responsable{% endblock %}

{% block body %}
		<p>
			Nom : {{responsable.nom}}
		<br>
			Prenom : {{responsable.prenom}}
		</p>
		
		<p>	
			Login : {{responsable.compte.login}} 
			<br>
			<a href="{{ path('reinitMdpCompte', { 'id': responsable.compte.id }) }}">Réinitialiser le mot de passe</a>
		</p>
		
		<p>	
			Archivé : {% if responsable.archive == true %} Oui {% else %} Non {% endif %}
		</p>
		
		<p>
			<a href="{{ path('modifierResponsable', { 'id': responsable.id }) }}">Modifier</a>
		</p>
{% endblock %}

