{% extends "/base.html.twig" %}

{% block title %}Les comptes{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm">
			<h3 class="text-center">Liste des comptes</h3>

			<a href="{{ path('ajouterCompte') }}">Ajouter un compte</a>
			
			</br>
			</br>
			
			<table class="table">
			
				<tr>
					<th>Login</th>
					<th>Mot de passe</th>
				</tr>
				
				{% for c in pComptes %}
				<tr>
					<td><a href="{{ path('consulterCompte', { 'id': c.id }) }}">{{ c.login }}</a></td>
					<td><a href="{{ path('modifierCompte', { 'id': c.id }) }}">Modifier</a></td>
					<td><a href="{{ path('archiverCompte', { 'id': c.id }) }}">Archiver</a></td>
				</tr>
				{% else %}
				<tr>
					<td>Aucun compte n'a été trouvé.</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

