{% set user = app.session.get("user") %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gestocom - {% block title %}La gestion de vos poubelles facile{% endblock %}</title>
		
		<link type="text/css" rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{{ asset("css/google_font.css") }}"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block stylesheets %}{% endblock %}
    </head>
	
    <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('index') }}">
				<img src="{{ asset("img/icon.png") }}" width="32" height="46" alt="">
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('index') }}">Accueil <span class="sr-only">(current)</span></a>
					</li>		
					
					{% if user is null %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('connexion') }}">Connexion</a>
					</li>
					{% else %}
					{# Liens commun à tous les utilisateurs #}
					
					
					{# Liens pour le responsable #}
					{% if user.disc == "responsable" %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('listerHabitation') }}">Les habitations</a>
					</li>
						
					<li class="nav-item">
						<a class="nav-link" href="{{ path('listerReclamations') }}">Les réclamations</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('listerTypeDechet') }}">Les types de déchets</a>
					</li>	
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('listerContainer') }}">Les containers</a>
					</li>
					{# Liens pour l'usager #}
					{% elseif user.disc == "usager" %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('leveesMois') }}">Mes levées</a>
					</li>	
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('listerReclamations') }}">Mes réclamations</a>
					</li>	
					
					{% endif %}
					
					<li class="nav-item">
						<a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		
        {% block javascripts %}{% endblock %}
		<script type="text/javascript" src="{{ asset("js/popper.min.js") }}"></script>
		<script type="text/javascript" src="{{ asset("js/jquery-3.2.1.slim.min.js") }}"></script>
		<script type="text/javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
    </body>
</html>
