{% extends 'base.html.twig' %}


{% block body %}
		
		<h3>L'usager</h3>

  <table class="table">
	<tr><td>Nom : </td><td>{{usager.nom}}<td></tr>
	<tr><td>Prenom : </td><td>{{usager.prenom}}</td>
	<tr><td>Adresse : </td><td>{{usager.adresse}}<td></tr>
	<tr><td>Code Postal : </td><td>{{usager.copos}}</td>
	<tr><td>Ville : </td><td>{{usager.ville}}<td></tr>
	<tr><td>Mail : </td><td>{{usager.mail}}</td>
	<tr><td>Téléphone : </td><td>{{usager.tel}}<td></tr>
	<tr></tr>
    <tr><td>Login : </td><td>{{usager.compte.login}} </td></tr>
	<tr></tr>
	<tr><td>Archivé :</td>
	<td>
	{% if usager.archive == true %} Oui 
	{% else %} Non 
	{% endif %}
	</td></tr>
	
	<tr><td><a href="{{ path('modifierUsager', { 'id': usager.id }) }}">Modifier</a></td></tr>
	
	</table>
	
	
	<a href="{{ path('listerUsager') }}">Retour à la liste des usagers</a>
	
{% endblock %}