{% extends 'base.html.twig' %}


{% block body %}
		
		<h3 class="text-center">L'usager</h3>

  <p>Nom : {{usager.nom}}<br/>
	Prenom : {{usager.prenom}}<br/>
	Adresse : {{usager.adresse}}<br/>
	Code Postal : {{usager.copos}}<br/>
	Ville : {{usager.ville}}<br/>
	Mail : {{usager.mail}}<br/>
	Téléphone : {{usager.tel}}<br/>
    </p>

	<p>Archivé :
	{% if usager.archive == true %} Oui 
	{% else %} Non 
	{% endif %}</p>

    <p>Login : {{usager.compte.login}} </p>
	<p><a href="{{ path('reinitMdpCompte', { 'id': usager.compte.id }) }}"><button class="btn btn-primary">Réinitialiser le mot de passe</button></a></p>
	<p><a href="{{ path('modifierUsager', { 'id': usager.id }) }}"><button class="btn btn-primary">Modifier l'usager</button></a></p>
	<p><a href="{{ path('ajouterHabitationUsager', { 'id': usager.id }) }}"><button class="btn btn-primary">Ajouter une habitation</button></a></p>
		
	<table class="table">
		<tr>
			<th>Adresse</th>
			<th>Code Postal</th>
			<th>Ville</th>
		</tr>
		{% for h in usager.habitations %}
			<tr>
				<td><a href="{{ path('consulterHabitation',{'id':h.id}) }}">{{h.adresse}}</a></td>
				<td>{{h.copos}}</a></td>
				<td>{{h.ville}}</a></td>
			</tr>
		{% else %}
			<tr>
				<td>Aucune habitation n'a été trouvée.</td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}
