{% extends 'base.html.twig' %}


{% block body %}
		
		<h3 class="text-center">L'usager</h3>

  <p>Nom : {{usager.nom}}<br/>
	Prenom : {{usager.prenom}}<br/>
	Adresse : {{usager.adresse}}<br/>
	Code Postal : {{usager.copos}}<br/>
	Ville : {{usager.ville}}<br/>
	Mail : {{usager.mail}}<br/>
	Téléphone : {{usager.tel}}<br/>
	
    Login : {{usager.compte.login}} <br/>
    </p>
	<p><a href="{{ path('reinitMdpCompte', { 'id': usager.compte.id }) }}"><button class="btn btn-primary">Réinitialiser le mot de passe</button></a></p>

	<p>Archivé :
	
	{% if usager.archive == true %} Oui 
	{% else %} Non 
	{% endif %}</p>
	
	
	<p><a href="{{ path('habitationsUsager', { 'id': usager.id }) }}">Liste des habitations</a></p>
		
	<p><a href="{{ path('modifierUsager', { 'id': usager.id }) }}"><button class="btn btn-primary">Modifier</button></a></p>
	
{% endblock %}
