{% extends 'base.html.twig' %}

{% block body %}
{% if habitation.usager.mail is null %}
<h1> Ajout d'une habitation</h1>
{% else %}
<h1> Modification information de l'adresse</h1>
{% endif %}
{{ form_start(formHabitation) }}
{{form_row(formHabitation.adresse,{'attr' : {'placeholder' : "Adresse de l'habitation"}} ) }}
{{form_row(formHabitation.copos,{'attr' : {'placeholder' : "Code postal de l'habitation"}} ) }}
{{form_row(formHabitation.ville,{'attr' : {'placeholder' : "Ville de l'habitation"}} ) }}
{{form_row(formHabitation.usager) }}

<button type="submit" class="btn btn-success">
{% if habitation.usager.mail is null %}
Valider
{% else %}
Modifier
{% endif %}
</button>

{{ form_end(formHabitation) }}

{% endblock %}