{% extends 'base.html.twig' %}


{% block body %}

<h5> L'habitation de {{habitation.usager.prenom}} {{habitation.usager.nom}}</h5>



<table class="table table-hover">
  <tr class="table-dark">
    <td>Adresse</td>
    <td>Code Postal</td>
    <td>Ville</td>
    <td>Adresse mail</td>
    <td>Numéro de téléphone</td>

  </tr>
  <tr class="table-warning">
    <td>{{habitation.usager.adresse}}</td>
    <td>{{habitation.usager.copos}}</td>
    <td>{{habitation.usager.ville}}</td>
    <td>{{habitation.usager.mail}}</td>
    <td>{{habitation.usager.tel}}</td>
  </tr>

</table>
{% endblock %}
