{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-sm">
		<h3 class="text-center">L'habitation de {{habitation.usager.prenom}} {{habitation.usager.nom}}</h3>
		
		<table class="table">
			<tr>
				<th>Adresse</th>
				<td>{{habitation.adresse}}</td>
			</tr>		
			<tr>
				<th>Code Postal</th>
				<td>{{habitation.copos}}</td>
			<tr>
				<th>Ville</th>
				<td>{{habitation.ville}}</td>
			</tr>
			<tr>
				<th>Adresse mail</th>
				<td>{{habitation.usager.mail}}</td>
			<tr>
				<th>Numéro de téléphone</th>
				<td>{{habitation.usager.tel}}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}
