{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-sm">
		<h3 class="text-center">L'habitation de {{habitation.usager.prenom}} {{habitation.usager.nom}}</h3>
		
		<table class="table">
			<tr>
				<th>Adresse</th>
				<td>{{habitation.adresse}}</td>
			</tr>		
			<tr>
				<th>Code Postal</th>
				<td>{{habitation.copos}}</td>
			<tr>
				<th>Ville</th>
				<td>{{habitation.ville}}</td>
			</tr>
			<tr>
				<th>Adresse mail</th>
				<td>{{habitation.usager.mail}}</td>
			<tr>
				<th>Numéro de téléphone</th>
				<td>{{habitation.usager.tel}}</td>
			</tr>
			<tr>
				<th>Archivé :</th>
				<td>
				{% if habitation.archiver == true %} Oui 
				{% else %} Non 
				{% endif %}
				</td>
			</tr>
			<tr><td><a href="{{ path('modifierHabitation', { 'id': habitation.id }) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
	
		</table>
		
		<br>
		<a href="{{ path('ajouterContainerHabitation', { 'id': habitation.id }) }}"><button class="btn btn-primary">Ajouter un conteneur</button></a>
		<br>
		
		<table class="table">
			<tr></tr>
			<tr><th>Liste des conteneurs</th><td>Volume</td><td>Poids Brut</td><td>Charge Utile</td></tr>
			{% for c in habitation.containers %}
				<tr><td><a href="{{ path('consulterContainer',{'id':c.id}) }}" >Consulter le conteneur</a></td><td>{{c.volume}}</td><td>{{c.poidsBrut}}</td><td>{{c.chargeUtile}}</td></tr>
			{% else %}
				<tr>
					<td>Aucun conteneur n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</table>
	
		<br>
		<br>
		<a href="{{ path('consulterUsager',{'id':habitation.usager.id}) }}" >Retour à l'usager {{habitation.usager.nom}} {{habitation.usager.prenom}}</a>
		<br>
		<br>
		<a href="{{ path('listerHabitation') }}">Retour à la liste des habitations</a><br>
	</div>
</div>

{% endblock %}
