{% extends 'base.html.twig' %}


{% block body %}

<h3>L'habitation de {{habitation.usager.prenom}} {{habitation.usager.nom}}</h3>

<table class="table">
  <tr>
    <td>Adresse</td>
    <td>Code Postal</td>
    <td>Ville</td>
    <td>Adresse mail</td>
    <td>Numéro de téléphone</td>
  </tr>
  <tr>
    <td>{{habitation.adresse}}</td>
    <td>{{habitation.copos}}</td>
    <td>{{habitation.ville}}</td>
    <td>{{habitation.usager.mail}}</td>
    <td>{{habitation.usager.tel}}</td>
  </tr>
</table>
{% endblock %}
