{% extends 'base.html.twig' %}


{% block body %}
<div class="row">
	<div class="col-sm">
		<h3 class="text-center">L'habitation de {{habitation.usager.prenom}} {{habitation.usager.nom}}</h3>
		
		<p>
			<br>
				Adresse : {{habitation.adresse}}
			<br>
				Code Postal : {{habitation.copos}}
			<br>
				Ville : {{habitation.ville}}
			<br>
				Adresse mail : {{habitation.usager.mail}}
			<br>
			Numéro de téléphone : {{habitation.usager.tel}}
			<br>
				Archivé : {% if habitation.archiver == true %} Oui {% else %} Non {% endif %}
			<br>
	<br>
			<td><a href="{{ path('modifierHabitation', { 'id': habitation.id }) }}"><button class="btn btn-primary">Modifier</button></a></td></tr>
	
		</p>
		
		<br>
		<a href="{{ path('ajouterContainerHabitation', { 'id': habitation.id }) }}"><button class="btn btn-primary">Ajouter un conteneur</button></a>
		<br>
		<br>
		
		<table class="table">
			<tr></tr>
			<tr><th>Liste des conteneurs</th><td>Volume</td><td>Poids Brut</td><td>Charge Utile</td></tr>
			{% for c in habitation.containers %}
				<tr><td><a href="{{ path('consulterContainer',{'id':c.id}) }}" >Consulter le conteneur</a></td><td>{{c.volume}}</td><td>{{c.poidsBrut}}</td><td>{{c.chargeUtile}}</td></tr>
			{% else %}
				<tr>
					<td>Aucun conteneur n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</table>
	
		<br>
		<a href="{{ path('consulterUsager',{'id':habitation.usager.id}) }}" >Retour à l'usager {{habitation.usager.nom}} {{habitation.usager.prenom}}</a>
		<br>
		<br>
		<a href="{{ path('listerHabitation') }}">Retour à la liste des habitations</a><br>
	</div>
</div>

{% endblock %}
