{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-sm">
		{% if habitation.id is null %}
		<h3 class="text-center">Ajout d'une habitation</h3>
		{% else %}
		<h3 class="text-center">Modification information de l'adresse</h3>
		{% endif %}
		
		{{ form_start(formHabitationUsager) }}
		{{form_row(formHabitationUsager.adresse,{'attr' : {'placeholder' : "Adresse de l'habitation"}} ) }}
		{{form_row(formHabitationUsager.copos,{'attr' : {'placeholder' : "Code postal de l'habitation"}} ) }}
		{{form_row(formHabitationUsager.ville,{'attr' : {'placeholder' : "Ville de l'habitation"}} ) }}
		<button type="submit" class="btn btn-primary">
		{% if habitation.id is null %}
		Valider
		{% else %}
		Modifier
		{% endif %}
		</button>

		{{ form_end(formHabitationUsager) }}
	</div>
</div>
{% endblock %}
