{% extends 'base.html.twig' %}


{% block body %}

<h5> Consultation des habitation</h5>

<table>
  <tr>
    <td>Adresse</td>
    <td>Code postal</td>
    <td>Ville</td>
    <td>Mail de l'usager</td>

  </tr>
  {% for habitation in listeHabitation %}
  <tr>
    <td> <a href="{{ path('consulterHabitation',{'id':habitation.usager.id}) }}">{% if habitation.adresse is defined %} {{habitation.adresse}}  {% endif %} </td>
    <td> {% if habitation.copos is defined %} {{habitation.copos}}  {% endif %} </td>
    <td> {% if habitation.ville is defined %} {{habitation.ville}}  {% endif %} </td>
    <td> {% if habitation.usager.mail is defined %} {{habitation.usager.mail}}  {% endif %} </td>
  </tr>

  {% else %}
  <tr>
    <td>Aucune habitation n'a été trouvée.</td>
  </tr>

  {% endfor %}
  </table>
{% endblock %}