{% extends '/base.html.twig' %}

{% block title %}Les habitations{% endblock %}

{% block body %}

<h3> Consultation des habitation</h3>

<div class="row">
	<div class="col-12">
		<a href="{{ path("ajouterHabitation") }}"><button type="button" class="btn btn-primary">Ajouter</button></a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table">
			<tr>
				<td>Adresse</td>
				<td>Code postal</td>
				<td>Ville</td>
				<td>Mail de l'usager</td>
			</tr>
			{% for habitation in listeHabitation %}
			<tr>
    			<td> <a href="{{ path('consulterHabitation',{'id':habitation.id}) }}" >{% if habitation.adresse is defined %} {{habitation.adresse}}  {% endif %} </td>
				<td> {% if habitation.copos is defined %} {{habitation.copos}}  {% endif %} </td>
				<td> {% if habitation.ville is defined %} {{habitation.ville}}  {% endif %} </td>
				<td> {% if habitation.usager.mail is defined %} {{habitation.usager.mail}}  {% endif %} </td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
